body {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
header {
	color: #333;
	padding: 2.5%;
}
header a {
	color: #343434;
	text-decoration: none;
}
header a:hover {
	border-bottom: 1px dashed #ccc;
}
#palette {
	flex: 1;
}
#palette ul {
	background: #ccc;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
	padding: 2.5%;
	text-align: center;
}
#palette ul li {
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
	display: inline-block;
	min-height: 40vh;
	min-width: 20%;
	vertical-align: top;
}
#palette ul li div {
	color: #fff;
	font-size: 1.4rem;
	padding: 5% 0;
	margin: 35% 0;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}
#palette ul li:hover {
	cursor: pointer;
}
#palette ul li:hover div {
	background: rgba(0,0,0,.3);
	transition-duration: .35s;
}
footer {
	background-color: #121212;
	color: #fff;
	padding: .5rem;
	text-align:center;
}
footer a {
	border-bottom: 1px dashed #ccc;
	color: #fff;
	text-decoration: none;
}
footer .heart {
	color: red;
}
